body{
	background-color: #1c263e;
	background-image: url('sky_background.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	overflow: scroll;
}
head{
	background-color: grey;
}
p{
	color: wheat;
}
h1{
	color: white;
	font-weight: bold;
}
h2{
	color: white;
}
h3{
	color: white;
}
h4{
	color: white;
}
h5{
	color: white;
}
a{
	color: white;
}
div.background{
	background:url(moon_banner.jpg) no-repeat;
	border: 2px solid black;
	opacity: 0.6;
}

div #wrapper{
	width: 500px;
	margin: 0 auto;
}
div.transparent{
	opacity: 0.6;
}