body{
	background-color: #1c263e;
}
head{
	background-color: grey;
}
p{
	color: wheat;
}
h1{
	color: white;
}
h2{
	color: white;
}
h3{
	color: white;
}
h4{
	color: white;
}
h5{
	color: white;
}
a{
	color: white;
}