body{
	background-color: #F5F5F5;
	color: #3F2860;
	font-family: Verdana, Arial, sans-serif;
	overflow: scroll;
}

header{
	background-color: #9BC1C2;
	background-image: url(yoga/lilyheader.jpg);
	background-repeat: no-repeat;
	background-position: right;
	opacity:0.8;
	height: 150px;
}

h1{
	
}

nav {
  text-align: center;
  font-weight: bold;
  background-color: #F5F5F5;
}




a{
	color: #3F2860;
}
ul{
	overflow: hidden;
	background-color: grey;
	position: -webkit-sticky;
	position:sticky;
	top:0;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
li{
	float: left;
}

li a{
	display:block;
	color: #3F2860;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover{
	background-color: #F2E0F7;
}

.active {
	background-color:#CEECF5;
}

div #wrapper{
	width: 500px;
	margin: 0 auto;
}
div.transparent{
	opacity: 0.6;
}