body{
	background-color: #F5F5F5;
	color: #3F2860;
	font-family: Verdana, Arial, sans-serif;
	
}

header{
	background-color: #9BC1C2;
	background-image: url(yoga/lilyheader.jpg);
	background-repeat: no-repeat;
	background-position: right;
	opacity:0.8;
	height: 150px;
}

h1{
	padding-top: 50px;	
	padding-left: 2em;
}

.studio{
	font-style: italic;
	margin: 10px;
}




.navigation ul{
	
	background-color: grey;
	position: -webkit-sticky;
	position:sticky;
	list-style-type: none;
	top:0;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
.navigation li{
	float: left;
}

.navigation li a{
	display:block;
	color: #3F2860;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.navigation li a:hover{
	background-color: #F2E0F7;
}

.navigation .active {
	background-color:#CEECF5;
}

.navigation nav {
  text-align: center;
  font-weight: bold;
  background-color: #F5F5F5;
}

.navigation a{
	color: #3F2860;
}

.list li{

	list-style-type: circle;
}
.list ul{
	display: block;
	background-color: none;
	list-style-type: disc;
	margin-top: 1em;
	margin-bottom: 1 em;
	margin-left: 0;
	margin-right: 0;
	padding-left: 40px;
}



#wrapper{
	width: 80%;
	margin-right: auto;
	margin-left: auto;
	background-color: #CEECF5 ;
	max-width: 1280;
}

main {
	padding-left: auto;
	padding-right: auto;
	margin: 50px;
}

img{
	float: right;
	width: auto;

}

#hero{
	text-align: center;
}
div.transparent{
	opacity: 0.6;
}

footer{
	background-color: #9BC1C2;
	font-size: .60em;
	font-style: italic;
	text-align: center;
	margin: 50px;
	padding: 0;
	bottom: 0;
	width: auto;


}